@use 'variables';

.about {
  min-height: 82vh;
  @supports (height: 82dvh) {
    min-height: 82dvh; /* browsers modernos */
  }
  padding: 0% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: variables.$text-primary;

  &__main {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1.25fr;
    margin-top: 36px;
    margin-bottom: 50px;

    @media (max-width: variables.$md) {
      gap: 16px;
      grid-template-columns: 1fr;
    }
  }

  &__presentation {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 17vh;
    @supports (height: 17dvh) {
      top: 17dvh; /* browsers modernos */
    }
    width: 35%;
    text-align: left;

    @media (max-width: variables.$md) {
      top: 0;
      position: relative;
      width: 100%;
      text-align: center;
    }

    p {
      margin-bottom: 12px;
      color: variables.$text-tertiary;

      strong {
        color: variables.$text-highlighted;
      }
    }

    img {
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.1);
      align-self: center;
      margin-bottom: 24px;
      object-fit: none;
    }
  }
}
