@use 'variables';

.animationWrapper {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-color: variables.$background-primary;
  background-image: linear-gradient(
      to bottom,
      rgb(6 14 38 / 55%),
      rgb(6 14 38 / 85%)
    ),
    url('/images/background.jpg');
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 130% auto;
  animation: pan 50s ease-in-out infinite alternate;
}

@keyframes pan {
  from {
    background-position: 0% 30%;
  }
  to {
    background-position: 100% 60%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .animationWrapper {
    animation: none;
  }
}
