/* ======================================== */
/* How to train your dragon Theme            */
/* ======================================== */

/* Backgrounds */
$background-primary: #060e26;
$background-secondary: #151740;

/* Texts */
$text-primary: #e8e8ec;
$text-secondary: #d2d2d4;
$text-tertiary: rgb(144 152 175 / 90%);
$text-highlighted: #c6c6c6;

/* Accents & Highlights */
$blue-500: #3a37a6;
$purple-500: #432d73;
$magenta-500: #8c2756;
$gold-400: #f2c94c;
$gold-500: #e6a209;
