@use 'variables';
@use 'mixins';

.card {
  color: variables.$text-primary;
  text-decoration: none;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  padding: 20px;
  text-align: left;
  cursor: pointer;
  @include mixins.store-panel($hoverable: true);

  &:hover {
    .card__info-container h3 {
      color: variables.$gold-400;
    }
  }

  &__time {
    display: block;
    font-size: 0.85rem;
    color: variables.$text-tertiary;
    white-space: nowrap;

    @media (max-width: variables.$sm) {
      display: none;
    }
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      display: none;
      font-size: 0.85rem;
      color: variables.$text-tertiary;

      @media (max-width: variables.$sm) {
        display: block;
      }
    }

    h3 {
      font-size: 1.1rem;
      font-weight: 700;
      color: variables.$text-primary;
      transition: color 0.2s ease-out;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    li {
      font-size: 0.85rem;
      line-height: 1.5;
      color: variables.$text-tertiary;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }

  &__badges {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__badge {
    display: inline-flex;
    align-items: center;
    background-color: rgba(variables.$blue-500, 0.55);
    border: 1px solid rgba(variables.$blue-500, 0.8);
    border-radius: 4px;
    color: variables.$text-primary;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 6px 12px;
  }
}
